.active-modal {
	position: fixed;
	top: 0px;
	left: 0px;
	display: flex;
	flex-flow: column;
	padding: 100px 0;
	background-color: rgba(0, 0, 0, 0.85);
	z-index: 1000;
	color: #fff;
	width: 100%;
	height: 100vh;
	text-align: center;
	vertical-align: middle;
}

.active-modal h2 {
	font-family: 'Lato';
	font-size: 18px;
	font-weight: bold;
}

.active-modal p {
	font-family: 'Open Sans';
	font-size: 14px;
	font-weight: 800;
	margin: 8px;
}
