.open-modal {
	/* padding: 10px; */
	font-family: 'Lato';
	/* font-size: 14px; */
	/* font-weight: bolder; */
	/* border-radius: 18%; */
	background-color: #1b1c1d;
	/* color: #fff; */
	/* cursor: pointer; */
	/* width: 100px; */
	/* height: 40px; */
}

.open-modal:hover {
	background-color: #2953a0;
}

.ok {
	background-color: transparent;
	border-width: medium;
	border-color: green;
	color: green !important;
}

.ok:hover {
	background-color: green;
	color: #fff !important;
}

.cancel {
	background-color: transparent;
	border-width: medium;
	border-color: #fff;
	color: #fff !important;
	margin-right: 10.5px !important;
}

.cancel:hover {
	border-color: red;
	margin-right: 10.5px !important;
	color: red !important;
}

.close-modal {
	background-color: #1b1c1d;
	width: 125px !important;
}

.open-modal,
.ok,
.cancel,
.close-modal,
.mini-cancel,
.mini-ok {
	color: #fff;
	padding: 1px;
	border-radius: 18%;
	cursor: pointer;
	width: 100px;
	height: 40px;
	font-size: 14px;
	font-weight: bolder;
	border-radius: 0.28rem;
}
